/*======= WELCOME SECTION ===========*/

/*======= CERTIFICATE SECTION ===========*/
.certificate {
  display: flex;
  flex-direction: row;

  justify-content: flex-start;
  flex-wrap: wrap;
}

#about-certificate {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/*======= ABOUT CERTIFICATE SECTION ===========*/
.about-certificate {
  width: 100%;

  padding: 3rem;
  position: sticky;
  margin-top: 15vh;
}

.about-certificate h2 {
  margin: 1em 0;
}

/*======= PROJECTS SECTION ===========*/
.projects {
  color: white;
  width: 100%;
}

.project-tile {
  width: 100%;
  min-height: 30rem;

  box-sizing: border-box;
}

.project-tile:hover {
  border: solid 2px white;
}

/*======= 55555 PROJECTS ===========*/
.project-tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-tile h3 {
  font-size: 2rem;
  font-family: "saxMono";
}

.project-tile ul {
  list-style: none;
  display: flex;
}

.project-tile li {
  padding: 0.5em 1em;
  margin: 0.5em;
  background-color: white;
  border-radius: 20%;
}

#project1 {
  background: var(--darkaccent) url("images/project1a.JPG") no-repeat top;
  background-size: 50vw 30vw;
}

#project2 {
  background: var(--darkaccent) url("images/project2a.JPG") no-repeat top;
  background-size: 50vw 30vw;
}

#project3 {
  background: var(--darkaccent) url("images/project3a.JPG") no-repeat top;
  background-size: 50vw 30vw;
}

#project4 {
  background: var(--darkaccent) url("images/project4a.JPG") no-repeat top;
  background-size: 50vw 30vw;
}

#project5 {
  background: var(--darkaccent) url("images/project5a.JPG") no-repeat top;
  background-size: 50vw 30vw;
}

/*======= ABOUT  ===========*/
#about {
  height: 100vh;
  width: 100vw;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*======= FOOTER ===========*/
footer {
  width: 100vw;
  height: 3rem;
  background-color: var(--darkaccent);
  color: white;
  text-align: center;
}

footer a,
footer a:visited,
footer a:active,
footer a:hover {
  color: white;
}

/*======= MEDIA QUERY ===========*/
@media (min-width: 700px) {
  /*<!-- User Story #9: My portfolio should have
at least one media query.-->*/
  .certificate {
    flex-wrap: nowrap;
  }

  .about-certificate,
  .projects {
    width: 50%;
  }

  #about-certificate {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  /*======= ================== ===========*/
}
